<h1 class="text-center">DigiGoat Activation</h1>
<div class="text-center container">
  <p class="mb-2 h5"> DigiGoat should open automatically, but if not click <a #deeplink href="digigoat://setup?payload={{payload}}">here</a>
    to begin the setup process. </p>
  <p class="mb-2"> DigiGoat will open up to a setup window, make sure that it says <span class="text-warning">"Configure"</span> if you
    already started to make your website, and if not it should say <span class="text-info">"Get Started"</span>. That's it! You're good to
    go now! </p>
  <p>If you're still encountering issues, please make sure that DigiGoat is installed. If it is currently open, try closing it and then
    reloading this page. If it is not currently open, try opening it and then reloading this page. If you're still encountering issues,
    reach out to <a href="mailto:support@digigoat.app">support&#64;digigoat.app</a> for assistance</p>
</div>
